
.header{
    padding-top: 2.33em;
}

.page-padding{
    width: 100%;
}

.container{
    max-width: 90em;
    margin-right: auto;
    margin-left: auto;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
}

.header-logo{
    color: #111;
    font-size: .8em;
    line-height: 1.1;
    font-weight: 500;
}

.w-inline-block{
    max-width: 100%;
    display: inline-block;
}


