.heading-2 {
    top: 87px;
    z-index: 2;
    color: #0f0f0f;
    font-size: 4em;
    line-height: 0.8em;
    letter-spacing: -0.7px;
    opacity: .2;
    top: 0px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #228B22;
    border-radius: 50%;
    display: inline-block;
  }

  .animation-canvas-container{
    display: flex;
    justify-content: flex-start;
  }

.social-icon{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 3em;
        height: 3em;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #111;
        border-radius: 50%;
        background-color: #D08856;
        -webkit-transition: color .3s,background-color .3s;
        transition: color .3s,background-color .3s;
        text-decoration: none;
    }
