.wrapper{
  margin-top: 20em;
  height: 60%;
}


.wrapper, p {
  font-size: 1.2em;
}

.paragraph-header{
  padding-left: 0 !important;
}

.heading-2 {
    top: 0;
    left: 0;
    z-index: -10;
    color: beige;
    line-height: 0.8em;
    letter-spacing: -0.7px;
    opacity: .3;
    position: absolute;
    font-size: 6em;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: teal;
  border-radius: 50%;
  display: inline-block;
}

.social-icon{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3em;
  height: 3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid teal;
  border-radius: 50%;
  background-color: teal;
  text-decoration: none;
}

.round-border-container{
  border: 1px solid teal;
  border-radius: 50%;
}

.about-me-container{
  margin-top: 3em;
  border: 1px solid teal;
  max-width: 940px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 25px;
  border: solid #1a1a1a 3px;
  border-radius: 20px;
  box-shadow: 0px 10px 0px #1a1a1a;
  color: black;
}

.left-about{
  padding-left: 12px;
}

